* {
    margin: 0;
    padding: 0;
}

#play {
    display: none;
}

.slideshow-contaner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.control {
    background: transparent;
    position: absolute;
    bottom: 45px;
    right: 45px;
}

.control span,
i {
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
}

.control i {
    cursor: pointer;
}

.images {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* .sample {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%; /* Ensures the container wraps around the image */
  }
  
  .ex {
    display: block;
    width: 100%; /* Ensures the image fills its container */
    height: auto; /* Maintains aspect ratio */
  }
  
  .sample::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, blue, red); /* Change gradient colors as needed */
    opacity: 0.5; /* Adjust opacity as desired */
  } */
  